.homepage {
  background-color: rgba(255, 105, 97, 1);
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.status-bar {
  background-color: rgba(255, 105, 97, 1);
  align-self: stretch;
  width: 100%;
  padding-top: 21px;
}

.status-bar-frame {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.time-display {
  align-self: stretch;
  margin: auto 0;
  padding: 0 6px 0 16px;
  font-family:
    SF Pro,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 17px;
  color: rgba(255, 255, 255, 1);
  font-weight: 590;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  flex: 1 1 0%;
}

.dynamic-island {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  width: 124px;
  flex-shrink: 0;
  height: 10px;
}

.status-levels {
  align-self: stretch;
  display: flex;
  margin: auto 0;
  padding: 0 16px 0 6px;
  align-items: center;
  gap: 7px;
  justify-content: center;
  flex: 1 1 0%;
}

.status-icon {
  object-fit: contain;
  object-position: center;
  align-self: stretch;
  margin: auto 0;
  flex-shrink: 0;
}

.welcome-text {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  margin-top: 26px;
}

.welcome-heading {
  font-weight: 700;
  font-size: 40px;
  color: rgba(255, 255, 255, 1);
}

.welcome-subtext {
  color: rgba(255, 255, 255, 1);
}

.action-button {
  border-radius: 10px;
  background-color: rgba(243, 242, 243, 1);
  border: 3px solid rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
  max-width: 350px;
  padding: 21px 69px 12px;
  align-items: stretch;
  gap: 1px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 26px;
  color: #000;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
}

.action-button-first {
  margin-top: 29px;
}

.action-button-second {
  margin-top: 25px;
}

.action-button-third {
  margin-top: 24px;
  padding: 28px 70px;
}

.action-icon {
  aspect-ratio: 1.09;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  max-width: 100%;
}

.action-text {
  margin: auto 0;
}

.notification-card {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 1);
  display: flex;
  margin-top: 19px;
  min-height: 127px;
  width: 100%;
  max-width: 296px;
  padding: 16px;
  align-items: center;
  gap: 12px;
  justify-content: start;
}

.notification-content {
  align-self: stretch;
  position: relative;
  display: flex;
  min-width: 240px;
  margin: auto 0;
  width: 100%;
  align-items: start;
  gap: 12px;
  justify-content: start;
  flex: 1 1 0%;
}

.notification-stack {
  z-index: 0;
  display: flex;
  min-width: 240px;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 16px;
  justify-content: start;
  flex: 1 1 16px;
}

.notification-text {
  width: 100%;
  color: #1e1e1e;
  line-height: 1.4;
}

.notification-title {
  font-weight: 600;
}

.notification-body {
  font-weight: 400;
  margin-top: 4px;
}

.view-recipes-button {
  border-radius: 8px;
  background-color: rgba(255, 105, 97, 1);
  border: 1px solid rgba(255, 105, 97, 1);
  align-self: start;
  display: flex;
  margin-top: 16px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  overflow: hidden;
  color: #f5f5f5;
  font-weight: 400;
  line-height: 1;
  justify-content: center;
}

.close-button {
  border-radius: 32px;
  position: absolute;
  z-index: 0;
  display: flex;
  padding: 8px;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  right: -8px;
  top: -8px;
  width: 36px;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  align-self: stretch;
  display: flex;
  margin-top: 27px;
  min-height: 68px;
  width: 100%;
  align-items: stretch;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-size: 14px;
  color: #757575;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
  line-height: 1;
  justify-content: center;
}

.nav-button {
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.nav-button.active {
  color: #1e1e1e;
}

.nav-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.nav-label {
  margin-top: 8px;
}
